FFMPEGLAB_API=http://localhost:3000
PUBLIC_HOST=http://localhost:7778/webapp
FFMPEGLAB_API_KEY=example
EVOLU_HOST=http://localhost:4778
SUPABASE_HOST=https://office.starpy.me
SUPABASE_ANON_KEY=12345678qwerty